<page-section [bttButton]="false" [contentID]="'HOW_IT_WORKS_01'"></page-section>


<page-section [contentID]="'HOW_IT_WORKS_02'"
              [parallaxImage]="'https://lastenrad-muenchen.de/core/img/photos/01.jpg'"
              [parallax]="true"></page-section>

<page-section [clickHandler]="onClick.bind(this)"
              [contentID]="'HOW_IT_WORKS_03'"></page-section>


<page-section [contentID]="'HOW_IT_WORKS_04'"
              [parallaxImage]="'https://lastenrad-muenchen.de/core/img/photos/02.jpg'"
              [parallax]="true"></page-section>

<page-section [contentID]="'HOW_IT_WORKS_05'"></page-section>


<page-section [contentID]="'HOW_IT_WORKS_06'"
              [parallaxImage]="'https://lastenrad-muenchen.de/core/img/photos/03.jpg'"
              [parallax]="true"></page-section>

<page-section [contentID]="'HOW_IT_WORKS_07'"></page-section>


<page-section [contentID]="'HOW_IT_WORKS_08'"
              [parallaxImage]="'https://lastenrad-muenchen.de/core/img/photos/04.jpg'"
              [parallax]="true"></page-section>

<page-section [contentID]="'HOW_IT_WORKS_09'"></page-section>


<page-section [contentID]="'HOW_IT_WORKS_10'"
              [parallaxImage]="'https://lastenrad-muenchen.de/core/img/photos/05.jpg'"
              [parallax]="true"></page-section>

<page-section [contentID]="'HOW_IT_WORKS_11'"></page-section>


<page-section [contentID]="'HOW_IT_WORKS_12'"
              [parallaxImage]="'https://lastenrad-muenchen.de/core/img/photos/06.jpg'"
              [parallax]="true"></page-section>

<page-section [contentID]="'HOW_IT_WORKS_13'"></page-section>
