<page-section [bttButton]="false"
              [contentID]="'PRESS_01'"></page-section>

<page-section [contentID]="'PRESS_02'"></page-section>


<page-section [contentID]="'PRESS_03'"
              [parallaxImage]="'https://lastenrad-muenchen.de/core/img/photos/03.jpg'"
              [parallax]="true"></page-section>

<page-section [contentID]="'PRESS_04'"></page-section>


<page-section [contentID]="'PRESS_05'"
              [parallaxImage]="'https://lastenrad-muenchen.de/core/img/photos/07.jpg'"
              [parallax]="true"></page-section>

<page-section [contentID]="'PRESS_06'"></page-section>
